hotel_booking_data/hotel_bookings_with_specific_arrival_date.csv
hotel_booking_data/hotel_bookings.csv
Data Cleaning/cleaned_data.csv


# Ignore environment files
.env
# Ignore notebook checkpoints
.ipynb_checkpoints/
# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd